* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}

.main{
  background-image: linear-gradient(to left top, #003566, #7d4389, #de4d7b, #ff844b, #ffd60a);
}
a {
  text-decoration: none;
}

